<h1 class="text-2xl font-bold mt-4">◆ 所属コミュニティ ◆</h1>
<!-- card -->
<div class="grid md:grid-cols-3 gap-8 md:gap-4 mt-4">
  <!-- reso_r_exercise -->
  <div class="card bg-base-100 shadow-xl">
    <figure><img src="./images/reso_r_exercise_Icon.png" alt="reso_r_exercise" class="object-cover object-top h-48 w-96"/></figure>
    <div class="card-body">
      <h2 class="card-title">Resoniteラジオ体操部</h2>
      <p>役割 : 主催</p>
      <p>場所 : Resonite</p>
      <p>時間 : 毎朝 7:00~7:15</p>
      <div class="card-actions justify-end">
        <a class="btn btn-primary" href="https://reso-r-exercise.github.io/" target="_blank">Jamp WebSite</a>
      </div>
    </div>
  </div>
  <!-- reso_r_exercise -->
  <div class="card bg-base-100 shadow-xl">
    <figure><img src="./images/elixir-imp-icon.png" alt="reso_r_exercise" class="object-cover object-top h-48 w-96"/></figure>
    <div class="card-body">
      <h2 class="card-title">ElixirImp</h2>
      <p>役割 : 主催 & 司会</p>
      <p>場所 : Zoom ( connpass )</p>
      <p>時間 : 第三水曜日 19:30~21:00</p>
      <div class="card-actions justify-end">
        <a class="btn btn-primary" href="https://fukuokaex.connpass.com/" target="_blank">Jamp WebSite</a>
      </div>
    </div>
  </div>
</div>
