<!-- Header -->
<header class="bg-gray-800 p-1">
  <div class="flex gap-y-3 flex-row items-center justify-between">
    <a href="https://frick-eldy.github.io">
      <div class="flex items-center bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-xl font-bold text-transparent">
        <img src="./images/frick-icon.png" class="mr-1 h-10 w-10 stroke-cyan-600" />
        FRICK's HP
      </div>
    </a>
    <span class="shrink-0">
      <a href="https://twitter.com/TewiEwi_no96" target="_blank" class="inline-flex items-center bg-gray-900 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base">
        依頼はXのDMまで
      </a>
    </span>
  </div>
</header>
