<h1 class="text-2xl font-bold mt-4 mx-4">|> ワールド</h1>
<div class="max-w-2xl mx-auto">
  <div class="carousel w-full rounded-lg h-56 md:h-96">
    <!-- slide1 -->
    <div id="slide1" class="carousel-item relative w-full">
      <div>
        <img src="./images/contents/world/stela.jpg" class="w-full"/>
      </div>
      <div class="absolute top-1 right-1 flex items-center justify-left ">
        <h2 class="text-black text-2xl font-bold rounded p-8 backdrop-blur-sm bg-white/50">ステラ</h2>
      </div>
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide9" class="btn btn-ghost">❮</a><a href="#slide2" class="btn btn-ghost">❯</a>
      </div>
    </div> 
    <!-- slide2 -->
    <div id="slide2" class="carousel-item relative w-full">
      <div>
        <img src="./images/contents/world/whale_and_waves.jpg" class="w-full"/>
      </div>
      <div class="absolute top-1 right-1 flex items-center justify-left ">
        <h2 class="text-black text-2xl font-bold rounded p-8 backdrop-blur-sm bg-white/50">クジラと波</h2>
      </div>
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide1" class="btn btn-ghost">❮</a><a href="#slide3" class="btn btn-ghost">❯</a>
      </div>
    </div> 
    <!-- slide3 -->
    <div id="slide3" class="carousel-item relative w-full">
      <div>
        <img src="./images/contents/world/you_in_a_fantastic_world.jpg" class="w-full"/>
      </div>
      <div class="absolute top-1 right-1 flex items-center justify-left ">
        <h2 class="text-black text-2xl font-bold rounded p-8 backdrop-blur-sm bg-white/50">幻想的な世界に浸る、癒しの音楽</h2>
      </div>
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide2" class="btn btn-ghost">❮</a><a href="#slide4" class="btn btn-ghost">❯</a>
      </div>
    </div> 
    <!-- slide4 -->
    <div id="slide4" class="carousel-item relative w-full">
      <div>
        <img src="./images/contents/world/4-7-8_Deep_Breath.jpg" class="w-full"/>
      </div>
      <div class="absolute top-1 right-1 flex items-center justify-left ">
        <h2 class="text-black text-2xl font-bold rounded p-8 backdrop-blur-sm bg-white/50">4-7-8_Deep_Breath</h2>
      </div>
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide3" class="btn btn-ghost">❮</a><a href="#slide5" class="btn btn-ghost">❯</a>
      </div>
    </div>
    <!-- slide5 -->
    <div id="slide5" class="carousel-item relative w-full">
      <div>
        <img src="./images/contents/world/bird_cage_healing.jpg" class="w-full"/>
      </div>
      <div class="absolute top-1 right-1 flex items-center justify-left ">
        <h2 class="text-black text-2xl font-bold rounded p-8 backdrop-blur-sm bg-white/50">鳥籠の癒し</h2>
      </div>
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide4" class="btn btn-ghost">❮</a><a href="#slide6" class="btn btn-ghost">❯</a>
      </div>
    </div> 
    <!-- slide6 -->
    <div id="slide6" class="carousel-item relative w-full">
      <div>
        <img src="./images/contents/world/galaxy.jpg" class="w-full"/>
      </div>
      <div class="absolute top-1 right-1 flex items-center justify-left ">
        <h2 class="text-black text-2xl font-bold rounded p-8 backdrop-blur-sm bg-white/50">銀河</h2>
      </div>
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide5" class="btn btn-ghost">❮</a><a href="#slide7" class="btn btn-ghost">❯</a>
      </div>
    </div> 
    <!-- slide7 -->
    <div id="slide7" class="carousel-item relative w-full">
      <div>
        <img src="./images/contents/world/memories_on_the rooftop.jpg" class="w-full"/>
      </div>
      <div class="absolute top-1 right-1 flex items-center justify-left ">
        <h2 class="text-black text-2xl font-bold rounded p-8 backdrop-blur-sm bg-white/50">屋上の思い出</h2>
      </div>
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide6" class="btn btn-ghost">❮</a><a href="#slide8" class="btn btn-ghost">❯</a>
      </div>
    </div> 
    <!-- slide8 -->
    <div id="slide8" class="carousel-item relative w-full">
      <div>
        <img src="./images/contents/world/with_the_dusk.jpg" class="w-full"/>
      </div>
      <div class="absolute top-1 right-1 flex items-center justify-left ">
        <h2 class="text-black text-2xl font-bold rounded p-8 backdrop-blur-sm bg-white/50">夕暮れと共に</h2>
      </div>
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide7" class="btn btn-ghost">❮</a><a href="#slide9" class="btn btn-ghost">❯</a>
      </div>
    </div>
    <!-- slide9 -->
    <div id="slide9" class="carousel-item relative w-full">
      <div>
        <img src="./images/contents/world/moonflower_butterfly.jpg" class="w-full"/>
      </div>
      <div class="absolute top-1 right-1 flex items-center justify-left ">
        <h2 class="text-black text-2xl font-bold rounded p-8 backdrop-blur-sm bg-white/50">月華蝶</h2>
      </div>
      <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
        <a href="#slide8" class="btn btn-ghost">❮</a><a href="#slide1" class="btn btn-ghost">❯</a>
      </div>
    </div> 
  </div>
  <div class="flex justify-center w-full py-2 gap-2">
    <a href="#slide1" class="btn btn-xs">1</a> 
    <a href="#slide2" class="btn btn-xs">2</a> 
    <a href="#slide3" class="btn btn-xs">3</a> 
    <a href="#slide4" class="btn btn-xs">4</a>
    <a href="#slide5" class="btn btn-xs">5</a>
    <a href="#slide6" class="btn btn-xs">6</a>
    <a href="#slide7" class="btn btn-xs">7</a>
    <a href="#slide8" class="btn btn-xs">8</a>
    <a href="#slide9" class="btn btn-xs">9</a>
  </div>
</div>
